[submodule "hunting-rules"]
	path = hunting-rules
	url = git@github.com:travisbgreen/hunting-rules.git
[submodule "cobaltstrike-suricata-rules"]
	path = cobaltstrike-suricata-rules
	url = git@github.com:ainrm/cobaltstrike-suricata-rules.git
[submodule "suricata-rules"]
	path = suricata-rules
	url = git@github.com:al0ne/suricata-rules.git
[submodule "JJyyy/suricata-rules"]
	path = JJyyy/suricata-rules
	url = git@github.com:JJyyy/suricata-rules.git
[submodule "Suricata-Rules-for-ICS-SCADA"]
	path = Suricata-Rules-for-ICS-SCADA
	url = git@github.com:CyberICS/Suricata-Rules-for-ICS-SCADA.git
[submodule "Suricata-Detect-DoS-Attack"]
	path = Suricata-Detect-DoS-Attack
	url = https://github.com/arvindpj007/Suricata-Detect-DoS-Attack.git
[submodule "opnsense-suricata-nmaps"]
	path = opnsense-suricata-nmaps
	url = git@github.com:aleksibovellan/opnsense-suricata-nmaps.git
[submodule "AttackDetection"]
	path = AttackDetection
	url = git@github.com:ptresearch/AttackDetection.git
